{{#if (eq page.version 'ara')}}
<article class="doc" style="direction:rtl">
{{/if}}    
{{#if (ne page.version 'ara')}}
<article class="doc">
{{/if}}    
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{{page.contents}}}
{{> pagination}}
</article>
